/ h4 = "Current User: #{current_user.email}"
/ h1 Show page

/ div id="messages"
/   = render @messages

/ = link_to "Creat message", "#", id: "create_msg"

/ <h1>Rooms#show</h1>
/ <p>Find me in app/views/rooms/show.html.erb</p>
